/* @group Overall */
* {
  margin: 0;
  padding: 0;
  }
html {
  height: 100%;
}
body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  letter-spacing: 0;
  font-family: 'Work Sans', sans-serif;
  font-feature-settings: "ss01" 1, "ss02" 1;
  font-weight: 400;
  background-color: #000000;
  color: #333333;
  }
pre {
  margin-bottom: 1em;
}
a {
  text-decoration: underline;
  color: #09c;
  }
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
  font-size: 1em;
}
ol {
  list-style: decimal outside;
  padding-left: 1.2em;
}
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #ff0088;
  border: 0.1rem solid #ff0088;
}
.button.button-outline,
button.button-outline,
input.button-outline[type="button"],
input.button-outline[type="reset"],
input.button-outline[type="submit"] {
  color: #ff0088;
}
.details {
  font-size: 9pt;
  color: #606c76;
}

.callout {
  border: 0.1rem solid #ff0088;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.4rem;
}
.sidebar a {
  text-decoration: none;
}
.sidebar .details {
  color: #FFF;
}
.nav a:hover {
  text-decoration: underline;
  }
/* @end */
/* @group Utility */
.inner {
  padding:15px;
  }
/* @end */
/* @group Structure */
#main {
  display: flex;
  flex: 1;
}
#container {
  background: #F8F8F8;
  flex: 1;
  }
.sidebar {
  display: none;
  flex: 0 0 330px;
  width: 330px;
  background: #000000;
  color: #fff;
  border-right: 1px solid #000000;
  }
#omega,
#alpha,
#beta {
  width: 330px;
}
  #alpha {
    position: relative;
    height: 450px;
    background: transparent url('/img/JoiIto.jpg') top left no-repeat;
    }
#alpha .logo {
  display: block;
  position: absolute;
  right: 15px;
  height: 101px;
  width: 101px;
  background-image: url('/img/joi-ito-logo-300.png');
  background-size: cover;
}
#alpha h1 {
  font-size: 0;
}
.right {
  width: 100%;
  background: #F8F8F8;
  padding-top: 15px;
  }
.container {
  padding: 0 15px;
}
  #gamma,
  #gamma h2,
  #gamma h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    }
  #gamma h2,
  #gamma h3 {
    color: #000000;
    margin-bottom: 0;
    }
  #gamma h3 {
    margin-bottom: 1em;
    }
  #gamma p {
    font-weight: 800;
    line-height: 1.1;
    }
#footer {
  display: flex;
  flex: 1;
}

@media (max-width: 40rem) {
  .row .column.column-minor {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row .column.column-major {
    flex: 1;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .flexbox .sidebar {
    display: block;
  }
  .container {
    margin: 0;
  }
  #gamma h2 {
    margin-top: -12px;
    margin-left: -5px;
    font-size: 72px;
    }
  #gamma h3 {
    font-size: 33px;
    margin-bottom: 1em;
    letter-spacing: -1px;
    }
  #gamma p {
    font-size: 37px;
    font-weight: 800;
    line-height: 1.1;
    }
}

/* @end */
/* @group Freesoul Flickr */

#freesouls-flickr {
  margin-bottom: 2em;
}
#freesoul-featured {
  margin-bottom: 15px;
}
#freesoul-featured a#pic {
  position: relative;
  box-sizing: unset;
  display: block;
  width: 290px;
  overflow: hidden;
  padding: 1px;
  background: #fff;
  border: 1px solid #000;
  }
#freesoul-featured img {
  width: 290px;
  border: none;
  }
#freesoul-featured #name {
  position: absolute;
  max-width: 200px;
  bottom: 8px;
  left: 8px;
  padding: 1px 5px;
  border-radius: 2px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  background: #FFFF00;
  color: #333;
  }

#freesouls-grid {
  width:315px;
  overflow: hidden;
  }
#freesouls-grid a {
  display: block;
  float: left;
  margin:0 0 0 0;
  padding: 1px;
  background: #fff;
  border: 1px solid #000;
  }
#freesouls-grid img {
  border: none;
  width:45px;
  height: 45px;
  }
#freesoulslist {}
#freesoulslist .list-block {
  float: left;
  margin: 0 0 10px 0;
  width: 220px;
  overflow: hidden;
  }
#freesoulslist .img {
  float: left;
  margin: 0 10px 0 0;
  }
#freesoulslist .img img {
  box-sizing: unset;
  border-style: solid;
  display: inline;
  width: 24px;
  height: 24px;
  }
#freesoulslist .name {
  margin: 5px 0 0 0;
  }
#freesoulslist .name a {
  font-size: 10pt;
  font-weight: normal;
  text-decoration: none;
  }
#freesoulslist .name a:hover {
  text-decoration:underline;
  }
/* @end */



/* @group Navigation */

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
ol.nav {
  margin:.5em 0 0 0;
  padding:0 0 0 1.6em;
  }
ol a {
  text-decoration: none;
  font-weight: normal;
  }
li {
  margin-bottom: 5px;
  line-height:130%;
  }
li .listed-title {
  font-weight: bold;
  }
li .byline {
  display: block;
}
li.on {
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  margin: .5em 0;
  padding: .5em 0;
  }

/* @end */



/* @group Entries */
.entry {
  margin: 0 0 20px 0;
  }
.asset-body h3,
.entry h3 {
  margin-bottom: 1rem;
}
.entry h3 {
  margin-bottom: 0;
}
.entry h3 a {
  line-height: 1;
}
.asset-body h3,
.entry h3 a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff0088;
}
  .entry a.entry-date {
  	font-weight: normal;
  	text-decoration: none;
    }
  .entry .post {
  	line-height:150%;
    }
.essay-blurb {
  margin-top:2em;
  margin-bottom:2em;
  padding-bottom:2em;
  border-bottom: 1px dotted #d1d1d1;
  }
.essay-blurb blockquote {
  margin-bottom: 0;
}
.essay-blurb .source {
  font-style: italic;
  }

/* @end */
/* @group Pages */
.page-folder-name {
  text-align: left;
  font-size: 10pt;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #d1d1d1;
  }
/* @end */
/* @group Essays */
#page-title {
  font-size: 14pt;
  margin: 0;
  line-height: 110%;
  }
.flickr-freesoul-essay-pic {
  margin: .5em 0;
  }
.essay ol:not(.nav) {
  margin: 0 0 1em 2em;
  font-size: 9pt;
  line-height: 140%;
  }

a.fn-it {
  text-decoration: none;
  font-weight: normal;
  }
a.fn-it:hover {
  text-decoration: underline;
  }
a.fn-up {
  text-decoration: none;
  }
a.fn-up:hover {
  text-decoration: underline;
  }

/* @end */
/* @group TheBooks */

.imageblock {
  margin-bottom:40px;
  width: 100%;
  overflow: hidden;
  }
.imageblock .sidebyside {
  width: 100%;
  overflow: hidden;
  }
.imageblock .sidebyside .half {
  float: left;
  margin-right: 10px;
  }
.imageblock .sidebyside .half img {
  width: 243px;
  }
.imageblock .caption {
  margin-top: 10px;
  width: 490px;
  font-size:9pt;
  }

/* @end */
/* @group Footer */
#footer img {
  border: none;
  }
/* @end */
