@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/node_modules/Work-Sans/fonts/webfonts/woff2/WorkSans-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/node_modules/Work-Sans/fonts/webfonts/woff2/WorkSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/node_modules/Work-Sans/fonts/webfonts/woff2/WorkSans-Bold.woff2') format('woff2');
}
