@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url('/vendor/Work-Sans/fonts/webfonts/woff2/WorkSans-Light.woff2') format('woff2'),
       url('/vendor/Work-Sans/fonts/webfonts/woff/WorkSans-Light.woff') format('woff'),
       url('/vendor/Work-Sans/fonts/webfonts/ttf/WorkSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/vendor/Work-Sans/fonts/webfonts/woff2/WorkSans-Regular.woff2') format('woff2'),
       url('/vendor/Work-Sans/fonts/webfonts/woff/WorkSans-Regular.woff') format('woff'),
       url('/vendor/Work-Sans/fonts/webfonts/ttf/WorkSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/vendor/Work-Sans/fonts/webfonts/woff2/WorkSans-Bold.woff2') format('woff2'),
       url('/vendor/Work-Sans/fonts/webfonts/woff/WorkSans-Bold.woff') format('woff'),
       url('/vendor/Work-Sans/fonts/webfonts/ttf/WorkSans-Bold.ttf') format('truetype');
}
