---
title: Order Now
layout: page
collection: order
---
<p>A limited quantity of books are being made available <strong>directly</strong> from the publisher.</p>

<p><strong>FREESOULS: captured and Released by JOI ITO</strong>. 296 Portraits by Joi Ito. Essays by Howard Rheingold, Lawrence Liang, Cory Doctorow, Yochai Benkler, Isaac Mao and Marko Ahtisaari. With a Foreword by Lawrence Lessig and a Special Interview with Joi Ito. 72 Crowd-sourced Definitions of What A Freesoul is. 36 Landscapes. 200 pages.<br />
Limited Editions Only. <a class="read-on" href="{{ "/thebooks/" | prepend: site.url }}" title="take a look inside">Take&nbsp;a&nbsp;look&nbsp;inside&nbsp;</a></p>

{% include order-box.html %}

{% include order-book.html %}

<p>For inquiries, please contact <a href="mailto:books@freesouls.cc">books@freesouls.cc</a>.
