---
layout: page
title: Creative Resistance
collection: Volume 2
permalink: creative-resistance/
---
<div class="asset-header">
  <h1 id="page-title" class="asset-name">Creative Resistance</h1>
</div>

<p>
  Stories from Freesouls.
  <a href="{% post_url 2017-03-15-freebassel5years %}">
    Read the blog post.
  </a>
</p>

{% for subject in site.data.resistance %}
<div id="{{ subject.name | slugify }}"
  <p>
    <a href="#{{ subject.name | slugify}}">
      {{ subject.name }}
    </a>
  </p>
<p>
  <a id="pic" href="{{ subject.portrait }}" title="{{ subject.name }}">
    <img alt="{{ subject.name }}" src="{{ subject.image }}" class="page-portrait">
  </a>
</p>
<p>{{ subject.story }}</p>
{% if subject.note %}
<p class="details">
  {{ subject.note }}
  {% if subject.url %}
  <a href="{{ subject.url }}">{{ subject.url }}</a>
  {% endif %}
</p>
{% endif %}
</div>
{% endfor %}
