---
title: by Joi Ito
layout: default
---

    <div class="home-title">
      <div class="main-title">
      <h2 class="title">Freesouls</h2>
      <h3 class="subtitle">Captured and released</h3>
      <h2 class="author">Joi Ito</h2>
      </div>
        <p class="tagline">
          This is a celebration<br>of all the people<br>who are willing<br>to share.
        </p>
    </div>

        <div class="posts">
          {% for post in site.tags.home %}
            {% include post.html post=post %}
          {% endfor %}
        </div>

<div class="row row-always">
  <div class="column">
    <p>
    <a href="/thebooks/" title="Look Inside">
      <img class="book-thumb" src="/thebooks/thumbs/04-INSIDE-hands-CORY-and-DEREK-a_08.jpg" alt="" />
    </a>
    </p>
  </div>
  <div class="column">
    <p>
    <a href="/thebooks/" title="Look Inside">
      <img class="book-thumb" src="/thebooks/thumbs/06-INSIDE-hands-essays-a_30.jpg" alt="" />
    </a>
    </p>
  </div>
</div>

        <div class="pages">
          <div class="entry">
            <h3><a href="{{ "/modelrelease" | prepend: site.url }}" title="Model Release">Model Release</a></h3>
            <div class="post">
              <p>
  We asked all of the generous people who appear in this book to agree
  to a model release, giving Joi permission to use their images. By
  licensing this work under a Creative Commons license, Joi is extending
  this permission to you.
              <a class="read-on" href="{{ "/modelrelease" | prepend: site.url }}" title="read on">read&nbsp;on</a>
              </p>
            </div>
          </div>
        </div>
