---
title: by Joi Ito
layout: default
---

    <div id="gamma">
          <h2>Freesouls</h2>
          <h3>Captured and released</h3>
          <p>
            This is a celebration<br>of all the people<br>who are willing<br>to share.
          </p>
    </div>

    <div id="delta">

        <div class="posts">
          {% for post in site.tags.home %}
            {% include post.html post=post %}
          {% endfor %}
        </div>

        <div class="pages">
          {% for post in site.book %}
          <div class="entry">
            <h3><a href="{{ post.url | prepend: site.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            <div class="post">
              {{ post.description }}
              <a class="read-on" href="{{ post.url }}" title="read on">read&nbsp;on</a>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="entry">
          <h3><a href="{{ "/essays" | prepend: site.url }}" title="Essays">Essays</a></h3>
          {% include essays_list.html %}
        </div>

        <div class="pages">
          <div class="entry">
            <h3><a href="{{ "/modelrelease" | prepend: site.url }}" title="Model Release">Model Release</a></h3>
            <div class="post">
              <p>
  We asked all of the generous people who appear in this book to agree
  to a model release, giving Joi permission to use their images. By
  licensing this work under a Creative Commons license, Joi is extending
  this permission to you.
              <a class="read-on" href="{{ "/modelrelease" | prepend: site.url }}" title="read on">read&nbsp;on</a>
              </p>
            </div>
          </div>
        </div>

    </div>
