---
title: by Joi Ito
layout: default
---

    <div id="gamma">
          <h2>Freesouls</h2>
          <h3>Captured and released</h3>
          <p>
            This is a celebration<br>of all the people<br>who are willing<br>to share.
          </p>
    </div>

    <div id="delta">

<a href="/thebooks/" title="Freesouls: The Books"><img src="{{ "/thebooks/thumbs/00-LUXURY-EDITION-hardcover-perspective-closeup-c_01.jpg" | prepend: site.url }}" style="float:right;width:200px;" /></a>

        <div id="posts">
          {% for post in site.tags.home %}
          <div class="entry">
            <h4><a href="{{ post.url | prepend: site.url }}" title="{{ post.title | escape}}">{{ post.title }}&nbsp;&raquo;</a></h4>
            <div class="post">
              <a class="entry-date" href="{{ post.url | prepend: site.url }}" title="permalink">{{ post.date | date: "%B %e, %Y"}}</a>
              {{ post.content }}
           </div>
          </div>
          {% endfor %}
        </div>

        <div id="pages">
          {% for post in site.book %}
          <div class="entry">
            <h4><a href="{{ post.url | prepend: site.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
            <div class="post">
              {{ post.description }}
              <a href="{{ post.url }}" title="read on">read&nbsp;on&nbsp;&raquo;</a>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="entry">
          <h4><a href="{{ "/essays" | prepend: site.url }}" title="Essays">Essays</a></h4>
          {% include essays_list.html %}
        </div>

        <div id="pages">
          <div class="entry">
            <h4><a href="{{ "/modelrelease" | prepend: site.url }}" title="Model Release">Model Release</a></h4>
            <div class="post">
              <p>
  We asked all of the generous people who appear in this book to agree
  to a model release, giving Joi permission to use their images. By
  licensing this work under a Creative Commons license, Joi is extending
  this permission to you.
              <a href="{{ "/modelrelease" | prepend: site.url }}" title="read on">read&nbsp;on&nbsp;&raquo;</a>
              </p>
            </div>
          </div>
        </div>

    </div>
