<div id="footer">
  <div class="sidebar" >
    <div class="sidebar-section">
    <div class="inner">
      <div class="details">
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/"><img src="/img/cc.by.80.png" alt="Creative Commons BY Attribution License"></a>
          <span property="dc:title" rel="dc:type">Portrait of Joi</span> by <a href="http://50mm.jp/" property="cc:attributionName" rel="cc:attributionURL" title="Sean Wood">Sean Wood</a>
        </p>
      </div>
    </div>
    </div>
  </div>
  <div class="right">
    <div class="content container">
      <div class="row">
        <div class="column">
          {% include license.html %}
        </div>
      </div>
    </div>
  </div>
</div>
