<div class="details callout">
<p>
The book <em>FREESOULS captured and released by JOI ITO,</em> was published as a
Boxed Set in an edition of 50 and a soft-cover book in a print run of 1024. All
numbered. 296 portraits. 8 Essays. 200 pages.
</p>

GET THE BOOK. (${{ site.orders.book }} + sh.)<br />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="583028">
<input type="submit" name="submit" value="Buy Now" class="button">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

GET THE BOXED SET. (${{ site.orders.box }} + sh.)<br />
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="582970">
<input type="submit" name="submit" value="Buy Now" class="button">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<a href= "/thebooks/" title="Take a look inside">Take a look inside &raquo;</a><br /><br />

<a href= "/order/" title="Order details">Order details &raquo;</a>

</div>
