<div class="details callout">
<p>
<strong>Limited Edition Print</strong>.
50 Boxed Sets.
1024 soft-cover books.
All Numbered.<br/>
<a class="toc-heading" href= "/thebooks/" title="Look inside">Look inside &raquo;</a><br />
<a class="toc-heading" href= "/order/" title="Order now">Order now &raquo;</a>
</p>

<div class="buy-now">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="583028">
<input type="submit" name="submit" value="1 Book" class="button">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<span class="book-price">
  ${{ site.orders.book }}
</span>
</div>

<div class="buy-now">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="582970">
<input type="submit" name="submit" value="1 Boxed Set" class="button">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<span class="book-price">
  ${{ site.orders.box }}
</span>
</div>
</div>
