{% assign thumb = "/thebooks/thumbs/02-LIMITED-EDITION-cover-b_a.jpg" %}
<div class="row order-row">
  <div class="column column-33">
    <img class="book-thumb" alt="Book" src="{{ thumb }}"/>
  </div>
  <div class="column column-67 details order-details">
    {% include buy-now-book.html buy=true %}
    <p class="details">
      <span class="details-title">
      LIMITED EDITION.
      </span>
      Print run of 1024. Comprises a soft-cover copy (with a dust-jacket) of
      FREESOULS: captured and released by JOI ITO, machine-numbered 1-1024.<br/>
      <a class="read-on" href="{{ "/thebooks/" }}">Look&nbsp;inside</a>
    </p>
  </div>
</div>
