<div class="row order-row">
  <div class="column column-33">
    <a href="/images/Freesouls-Limited-Cover-Full.jpg">
      <img alt="Freesouls-Luxury-Cover-Thumb.jpg" src="{{ "/images/Freesouls-Limited-Cover-Thumb.jpg" | prepend: site.url }}"/>
    </a>
  </div>
  <div class="column column-67 details order-details">
    {% include buy-now-book.html buy=true %}
    <p class="details">
      <span class="details-title">
      LIMITED EDITION.
      </span>
      Print run of 1024. Comprises a soft-cover copy (with a dust-jacket) of
      FREESOULS: captured and released by JOI ITO, machine-numbered 1-1024.<br/>
      <a class="read-on" href="{{ "/thebooks/" | prepend: site.url }}">Look&nbsp;inside</a>
    </p>
  </div>
</div>
