<div class="row order-row">
  <div class="column column-33">
    <a href="/images/Freesouls-Luxury-Cover-Full.jpg">
      <img alt="Freesouls-Luxury-Cover-Thumb.jpg" src="{{ "/images/Freesouls-Luxury-Cover-Thumb.jpg" | prepend: site.url }}" />
    </a>
  </div>
  <div class="column column-67 details order-details">
    {% include buy-now-box.html buy=true %}
    <p class="details">
      <span class="details-title">
        Luxury Boxed Set.
      </span>
      Print run of 50. The box includes a hand-assembled hard-cover copy of
      FREESOULS: captured and released by JOI ITO, individually stamped 1-50,
      plus 30 art-quality photographic prints.<br/>
      <a class="read-on" href="{{ "/thebooks/" | prepend: site.url }}">Look&nbsp;inside</a>
    </p>
  </div>
</div>
