<div class="details callout callout-light">
  <p class="toc-heading">
  Table of Contents
  </p>
  <ul class="nav">
    <li>
      <a href="{{ "/thebooks" }}">
        <span class="listed-title">The Book</span></a>
    </li>
    <li>
      <a href="{{ "/pic" }}">
        <span class="listed-title">Portraits</span></a>
        <span class="byline">
          Joi Ito
        </span>
    </li>
  </ul>
  {% include essays_list.html %}
  <ul class="nav">
    <li>
      <a href="{{ "/modelrelease" }}">
        <span class="listed-title">Model Release</span></a>
    </li>
    <li>
      <a href="{{ "/reviews" }}">
        <span class="listed-title">Reviews</span>
      </a>
    </li>
    <li>
      <a href="{{ "/errata" }}">
        <span class="listed-title">Errata</span></a>
    </li>
    <li>
      <a href="{{ "/team" }}">
        <span class="listed-title">Team</span></a>
    </li>
  </ul>
</div>
