<div class="details callout callout-light">
  <p class="toc-heading">
  Table of Contents
  </p>
  <ul class="nav">
    <li>
      <a href="{{ "/pic" | prepend: site.url }}">
        <span class="listed-title">Portraits</span></a>
        <span class="byline">
          Joi Ito
        </span>
    </li>
  </ul>
  {% include essays_list.html %}
  <ul class="nav">
    <li>
      <a href="{{ "/modelrelease" | prepend: site.url }}">
        <span class="listed-title">Model Release</span></a>
    </li>
    <li>
      <a href="{{ "/what-people-are-saying-about-freesouls.html" | prepend: site.url }}">
        <span class="listed-title">Reviews</span>
      </a>
    </li>
    <li>
      <a href="{{ "/errata" | prepend: site.url }}">
        <span class="listed-title">Errata</span></a>
    </li>
  </ul>
</div>
