<!doctype>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Freesouls - {{ page.title }}</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" rev="stylesheet" href="/node_modules/normalize.css/normalize.css" media="screen" />
  <link rel="stylesheet" rev="stylesheet" href="/node_modules/milligram/dist/milligram.css" media="screen" />
  <link rel="stylesheet" rev="stylesheet" href="/css/style.css" media="screen" />
  <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed.path }}" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:500,600,700,800" rel="stylesheet"> 
</head>
<body>
  <div class="sidebar">

    <div id="alpha">
      <div class="inner">
        <a class="logo" href="{{ site.url }}">
          <h1>Joi Ito</h1>
        </a>
      </div>
    </div>

    <div id="beta">
      <div class="inner">

        <div id="freesouls-flickr">
          {% include freesouls_flickr.html %}
        </div>

        <div class="details">
          <p>
    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/"><img src="/img/cc.by.80.png" alt="Creative Commons BY Attribution License"></a>
    <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/StillImage" property="dc:title" rel="dc:type">Portrait of Joi</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://50mm.jp/" property="cc:attributionName" rel="cc:attributionURL" title="Sean Wood">Sean Wood</a>
          </p>
        </div>

      </div>
    </div>

  </div>
<div id="container">

  <div class="right">

    <div class="container">
      <div class="row">
        <div class="column column-67">
          {{ content }}
        </div>
        <div class="column column-33">
          {% include order.html %}

          {% if page.layout == "essay" %}
          <div class="details">
            {% include essays_list.html %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="column">
          {% include license.html %}
        </div>
      </div>
    </div>
  </div>

</div>
{% include footer.html %}
</body>
</html>
