---
layout: page
---
        <div class="page-asset asset essay">

    <div class="asset-header">
      <h1 id="page-title" class="asset-name">
        <a href="{{ page.url }}">
          {{ page.title }}
        </a>
      </h1>
    </div>

    <div class="asset-content">


      <div class="essay-stuff">
        <div class="essay-writer">{{ page.author }}</div>
        <div class="flickr-freesoul-essay-pic">
          {% if page.portrait %}<a id="pic" href="{{ page.portrait }}" title="{{ page.author }}">{% endif %}
            {% if page.image %}<img alt="" src="{{ page.image }}" class="page-portrait">{% endif %}
          {% if page.portrait %}</a>{% endif %}
        </div>

        <div class="essay-blurb details">
          {% if page.subtitle %}
          {{ page.subtitle }}<br>
          {% endif %}
          {% if page.description %}
          {{ page.description }}<br>
          {% endif %}
          {% if page.credit %}
          {{ page.credit }}<br>
          {% endif %}
          {% if page.bio or page.links %}
          <blockquote>{{ page.bio }}
          {% if page.source %}
          <span class="source">{{ page.source }}</span>
          {% endif %}
            <br>
            {% for link in page.links %}
            {{ link.name }}:
            <a href="{{ link.url }}">{{ link.url | remove_first: "https://" | remove_first: "http://" }}</a>
            {% endfor %}
          </blockquote>
          {% endif %}
        </div>
      </div>

        <div class="asset-body">
          {{ content }}
        </div>

        {% if page.chinese %}
        <div class="callout">
            This article is available <a href="{{ page.chinese }}">in Chinese</a> by Yeeyan.
        </div>
        {% endif %}


    </div>
</div>
