---
layout: page
---

{% assign pic = site.data.photos[page.slug] %}

{% include pic.html pic=pic %}

<p>
This photograph
of {{ pic.title }} is not included in <a href="/thebooks/">the limited edition book,<br>"FREESOULS Captured and Released by JOI ITO."</a> and the person(s) pictured did not yet sign a <a href="/model-release.html" title="Freesouls Model Release">model release</a>.
<br>
But many more photos are in the book.
<br>
<a class="read-on" href="http://freesouls.cc/order/" title="order Freesouls now">order&nbsp;now</a>
</p>
