---
layout: default
---

    <div id="delta">
        <div class="entry-asset asset hentry">
          <div class="page-folder-name">
            <a href="{{ site.url }}" title="Freesouls Home">Home</a> »
            <strong>
              {{ page.collection | capitalize }}
            </strong>
          </div>
          <div class="asset-header">
            <h1 id="page-title" class="asset-name entry-title">{{ page.title }}</h1>
          </div>

          <div class="asset-content entry-content">

            <div class="asset-body">
              {{ content }}
            </div>

          </div>
        </div>
    </div>
